<div class="events">
  {% assign today = 'now' | date: '%Y-%m-%d' %}
  {% assign upcoming_events = site.events | where_exp: "event", "event.date >= today" | sort: "date" %}

  {% if upcoming_events != empty %}
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% for event in upcoming_events %}
          <tr>
            <th scope="row" style="width: 20%">{{ event.date | date: '%b %d, %Y' }}</th>
            <td>
              <a class="event-title" href="{{ event.url | relative_url }}">{{ event.title }}</a>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  {% else %}
    <p>No upcoming events</p>
  {% endif %}
</div>